<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>
            Home Page
        </h1>
        <div >
            <p>
                add 3 buttons for log in , log out, sign in
            </p>
        </div>
    </body>
</html>