<html>
    <head>
        <title>
            Users Page
        </title>
    </head>
    <body>
        <h1>
            Users page
        </h1>
        <div>
            <p>
                create statistics page,
                answers page and questions page
            </p>
        </div>
    </body>
</html>